---
layout: 'base.njk'
---

<div id="article-image">
    <img src="{{image}}" alt="{{image-alt}}">
</div>

<main id="article-content" class="margin">

    <section>
        <h2>{{title}}</h2>
        <p id="byline">by <span class="accent">{{author}}</span></p>
    </section>

    <article>
        {{content | safe}}
    </article>

</main>