<li>
    <article class="card">
            <img src="{{post.data.image}}" alt="{{post.data.imagealt}}">
            <div>
                <h2 class="post-title"><a href="{{post.url}}">{{ post.data.title }}</a></h2>
                <h3>by <span class="accent">{{post.data.author}}</span> on <span class="accent">{{post.date | postDate}}</span></h3>
                <p>{{post.data.description}}</p>
                <a href="{{post.url}}">Read More ></a>
            </div>
    </article>
</li>