<footer>
    <section>
        <div>
            <div>
                <img src="/assets/logo-white.svg" alt="">
            </div>

            <p>1-31 Brookman St, Perth WA 6000</p>
        </div>

        <div id="footer-sitemap">
            <ul>
                <h2>Our Company</h2>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
            <ul>
                <h2>Blog</h2>
                <li><a href="">Entries</a></li>
                <li><a href=""></a></li>
            </ul>
            <ul>
                <h2>Other Stuff</h2>
                <li><a href="">About Us</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </section>
    <p>Copyright © Taariq Mamun, 2021</p>
</footer>