---
title: Blog
layout: "base.njk"
---
<main class="margin">
    <section class="start">
        <h2>All Articles</h2>
        <ul id="featured" class="article-grid">

            {%- for post in collections.post | reverse -%}
               {% include 'article-snippet.njk' %}
            {%- endfor -%}

        </ul>

    </section>
</main>
